<style media="screen">
  .hero-text-wrap.new-bg {
    /*background: rgba(0, 0, 0, 0.45);*/
    background-image: url(<% asset_path 'BAMs2.png' %>);
    background-repeat:no-repeat;
    background-position:left center;
    width: 100%;
    height: 101vh;
    position: absolute;
    z-index: 1;
    background-color: black;
  }

</style>
<nav class="navbar navbar-default navbar-fixed navbar-transparent white bootsnav on no-full">
  <div class="container">
    <div class="attr-nav">
      <ul class="social-media-dark social-top">
        <li><a href="https://www.facebook.com/BaxterandMe/" class="fa fa-facebook" target="_blank"></a></li>
        <!-- <li><a href="#" class="fa fa-twitter" target="_blank"></a></li> -->
        <li><a href="https://www.instagram.com/gillarooney/" class="fa fa-instagram" target="_blank"></a></li>
        <li><button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-menu"> <i class="fa fa-bars"></i> </button></li>
      </ul>
    </div>

    <div class="navbar-header">
      <div class="logo"> <a href="/"> <img class="logo logo-display" src="<%= asset_path 'baxterandme.png' %>" alt=""> <img class="logo logo-scrolled" src="<%= asset_path 'baxterandme2.png' %>" alt=""> </a> </div>
    </div>

    <div class="navbar-collapse collapse" id="navbar-menu" aria-expanded="false">
      <ul class="nav navbar-nav navbar-right nav-scrollspy-onepage" data-in="fadeInLeft">
        <li class="scroll"><a href="#home" data-turbolinks="false">Home</a></li>
        <li><a href="/about" data-turbolinks="false">About</a></li>
        <li class="scroll"><a href="#watch">Watch</a></li>
        <!-- <li class="scroll"><a href="#contact">Contact Us</a></li> -->
      </ul>
    </div>
  </div>
</nav>

<section class="pt-0 pb-0 bg-video">
  <div class="hero-text-wrap new-bg">
    <div class="hero-text white-color">
      <div class="container text-center">
        <div class="row">
          <div class=" col-md-3 col-xs-6 col-md-push-6 hidden-sm hidden-xs">
            <img class="img-responsive" src="<%= asset_path 'tas.png' %>" alt="">
            <img class="img-responsive" src="<%= asset_path 'syd.png' %>" alt="">

          </div>

          <div class="col-md-6 col-xs-12 col-md-pull-3">
            <div class="arcon-video-box mt-0"> <img class="img-responsive" src="<%= asset_path 'BaxterOverlay.jpg' %>" alt="">
              <div class="arcon-video-box_overlay">
                <div class="center-layout">
                  <div class="v-align-middle"> <a class="popup-vimeo" href="https://vimeo.com/219438401">
                    <div class="play-button"><i class="mdi mdi-play"></i> </div>
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-md-3 col-xs-6 hidden-sm hidden-xs">
            <img class="img-responsive" src="<%= asset_path 'perth1.png' %>" alt="">
            <img class="img-responsive" src="<%= asset_path 'coffs.png' %>" alt="">
          </div>

        </div>
        <div class="row pt-10 visible-xs visible-sm">
          <div class=" col-md-3 col-xs-3">
            <img class="img-responsive" src="<%= asset_path 'tas.png' %>" alt="">
          </div>
          <div class=" col-md-3 col-xs-3">
            <img class="img-responsive" src="<%= asset_path 'syd.png' %>" alt="">
          </div>
          <div class=" col-md-3 col-xs-3">
            <img class="img-responsive" src="<%= asset_path 'perth1.png' %>" alt="">
          </div>
          <div class=" col-md-3 col-xs-3">
            <img class="img-responsive" src="<%= asset_path 'coffs.png' %>" alt="">
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div class="mt-50">
              <h3>One woman's life, with and without men, but always with dogs.</h3>

            </div>

          </div>
          <div class="mt-0 nav-scrollspy-onepage hidden-xs">
            <h4 class="scroll animated infinite pulse"><a href="#watch" data-turbolinks="false" class="white-color" id="down-arrow"><i class="fa fa-angle-down fa-5x"></i></a></h4>
          </div>
        </div>
      </div>
    </div>
    </div>

  <div class="homepage-hero-module">
    <div class="video-container">
      <div class="filter"></div>
    </div>
  </div>
</section>
<!--=== Video End ======-->

<!--=== Who We Are Start ===-->
<section class="first-ico-box" id="about">
  <div class="container">
    <div class="row">
      <div class="col-sm-10 section-heading">
        <h2 class="text-uppercase">About the film</h2>
        <div class="mt-30">
          <p class="lead">
            Acclaimed and award winning film maker Gillian Leahy turns her mind to the relationship between herself and her dog in this searching, funny, touching and thought provoking documentary.
          </p>
          <p class="lead">
            Gill questions her own relationship with her big brown chocolate Labrador, Baxter, and our relationships in general between dogs and humans. It all begins when Gill wakes up one morning and asks herself, “What am I doing living with this big brown beast?” And it takes off from there.
          </p>
          <a href="/about" class="btn btn-info btn-circle">Find out more </a>
        </div>

        <div class="row mt-50" id="watch">
          <h2 class="text-uppercase">Watch the film</h2>
          <div class="col-md-4 pricing-table col-sm-6 wow fadeTop" data-wow-delay="0.1s">
            <div class="pricing-box">
              <h4>
                <i class="mdi mdi-presentation fa-3x"></i>
              </h4>
              <h4>
                Find a screening near you
              </h4>

              <div class="pricing-box-bottom"> <a href="https://au.demand.film/baxter-and-me/" class="btn btn-info btn-circle btn-animate" target="_blank"><span>Demand Films <i class="mdi mdi-arrow-right"></i></span></a> </div>
            </div>
          </div>
          <div class="col-md-4 pricing-table col-sm-6 wow fadeTop" data-wow-delay="0.2s">
            <div class="pricing-box">
              <h4>
                <i class="mdi mdi-vimeo fa-3x"></i>
              </h4>
              <h4>
                Buy or rent on Vimeo
              </h4>
              <div class="pricing-box-bottom"> <a href="#" class="btn btn-info btn-circle btn-animate"><span>Vimeo <i class="mdi mdi-arrow-right"></i></span></a> </div>
            </div>
          </div>
          <div class="col-md-4 pricing-table col-sm-6 wow fadeTop" data-wow-delay="0.4s">
            <div class="pricing-box">
              <h4>
                <i class="mdi mdi-apple fa-3x"></i>
              </h4>
              <h4>
                Buy or rent on iTunes
              </h4>
              <div class="pricing-box-bottom"> <a href="#" class="btn btn-info btn-circle btn-animate"><span>iTunes <i class="mdi mdi-arrow-right"></i></span></a> </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


<!--=== Parallax Section Start ======-->
<section class="parallax-bg-4 fixed-bg" data-stellar-background-ratio="0.2">
  <div class="overlay-bg-not-so-dark"></div>
  <div class="container">
    <div class="row">
      <div class="col-md-6 text-center white-color col-md-offset-3">

        <%= image_tag 'baxterandme.png' %>
      </div>
    </div>
  </div>
</section>
<!--=== Parallax Section End ======-->
<!--=== Blogs Start ======-->
<section>
  <div class="container">
    <div class="row">
      <div class="col-sm-8 section-heading">
        <h2 class="text-uppercase">In the news</h2>
        <hr class="blue-bg">
        <!-- <h4 class="text-uppercase source-font wow fadeTop" data-wow-delay="0.2s">- Latest News -</h4> -->
      </div>
    </div>
    <div class="row mt-50">
      <div class="col-md-12 remove-padding">
        <div class="owl-carousel blog-slider">
          <div class="post">
            <div class="post-img"> <img class="img-responsive" src="<%= asset_path 'ABC.jpg' %>" alt=""/></div>
            <div class="post-info">
              <h3><a href="https://www.facebook.com/breakfastnews/videos/10154890120688983/" target="_blank"><i class="mdi mdi-video"></i>  ABC News Breakfast</a></h3>
              <h6>June 20, 2017</h6>
              <p>Filmmaker Gillian Leahy discusses her new "dogumentary" Baxter and Me.</p>
              <a class="readmore" href="https://www.facebook.com/breakfastnews/videos/10154890120688983/" target="_blank"><span><i class="mdi mdi-video"></i> Watch</span></a> </div>
          </div>
          <!--=== Post End ===-->
          <div class="post">
            <div class="post-img"> <img class="img-responsive" src="<%= asset_path 'LifeStyle.jpg' %>" alt=""/> </div>
            <div class="post-info">
              <h3><a href="blog-grid.html"><i class="mdi mdi-volume-high"></i> Lifestyle Overnight with David Prior</a></h3>
              <h6>May 9, 2015</h6>
              <p>Do our dogs really love us? Are they our slaves or are we theirs?</p>

              <a class="readmore" href="#"><span><i class="mdi mdi-volume-high"></i> Listen</span></a> </div>
          </div>
          <!--=== Post End ===-->
        </div>
      </div>
    </div>
  </div>
</section>
<!--=== Blogs End ======-->



<!--=== Contact Us Start ======-->
<!-- <section class="contact-us pt-0" id="contact">
  <div class="container">
    <div class="row mt-50">
      <div class="row">
        <div class="col-md-8 section-heading">
          <h2 class="text-uppercase">Get in touch. We're friendly.</h2>
        </div>
      </div>
      <div class="col-md-8 col-md-offset-2">
        <%# render 'enquiries/form' %>
      </div>
    </div>
  </div>
</section> -->
<!--=== Contact Us End ======-->
