<style media="screen">
  @media(min-width: 700px){
    .hero-text-wrap.new-bg {
      background: url(<%= asset_path 'baxter-hero2.jpg' %>) center 0 no-repeat;
      width: 100%;
      height: 101vh;
      position: absolute;
      z-index: 1;
      background-size: 100% 100%;
    }
  }
  @media(max-width: 480px) {
    .hero-text-wrap.new-bg {
      background: url(<%= asset_path 'baxter-hero-mobile.jpg' %>) center 0 no-repeat;
      width: 100%;
      height: 101vh;
      position: absolute;
      z-index: 1;
      background-size: 100% 100%;
    }
  }
  .overlay:before{
    position: absolute;
    content:" ";
    top:0;
    left:0;
    width:100%;
    height:100%;
    display: block;
    z-index:0;
    background-color: rgba(0,0,0,0.1);
  }

  #watch-now{
    color: white;
    /*text-decoration: underline;*/
    font-family: 'Lato', sans-serif;
    cursor: pointer;
  }

  .select {
    margin-left: 30px;
    -webkit-appearance: none;
     /*webkit browsers */
     -moz-appearance: none;
     /*Firefox */
     appearance: none;
     /* modern browsers */
     border-radius: 1;
  }

  @media (max-width: 480px){
    .select {
      margin-left: 64px;
      -webkit-appearance: none;
       /*webkit browsers */
       -moz-appearance: none;
       /*Firefox */
       appearance: none;
       /* modern browsers */
       border-radius: 1;
    }
  }

  .blue-link {
    color: #5bc0de;

  }


</style>
<script>
$(document).ready(function (){
  $("#nav-hero").click(function() {
      $('html, body').animate({
          scrollTop: $("#hero").offset().top
      }, 1000);
  });
});
$(document).ready(function (){
  $("#nav-watch").click(function() {
      $('html, body').animate({
          scrollTop: $("#watch").offset().top
      }, 1000);
  });
});
$(document).ready(function (){
  $("#nav-watch").click(function() {
      $('html, body').animate({
          scrollTop: $("#watch").offset().top
      }, 2000);
  });
});
$(document).ready(function (){
  $("#watch-now").click(function() {
      $('html, body').animate({
          scrollTop: $("#watch").offset().top
      }, 2000);
  });
});
</script>
<%= render 'interface/navbar.html.erb' %>

<section class="pt-0 pb-0 bg-video" id="hero">
  <div class="hero-text-wrap new-bg overlay">
    <div class="hero-text white-color">
      <div class="container text-center">
        <div class="row pt-50 mt-50" style="margin-left:105px">
          <div class="col-md-3 col-xs-6 hidden-sm hidden-xs">
            <!-- hidden-sm hidden-xs -->
            <img class="img-responsive" src="<%= asset_path 'tas.png' %>" alt="">
            <img class="img-responsive" src="<%= asset_path 'syd.png' %>" alt="">

          </div>

          <div class="col-md-3 col-xs-6 hidden-sm hidden-xs">
            <!--  -->
            <img class="img-responsive" src="<%= asset_path 'perth1.png' %>" alt="">
            <img class="img-responsive" src="<%= asset_path 'coffs.png' %>" alt="">
          </div>
          <div class="col-md-6">
            <img style="height: 280px;"src="<%= asset_path "BAM.png" %>" alt="bam title">
          </div>
        </div>
        <div class="row pt-10 visible-xs visible-sm">
          <div class=" col-md-3 col-xs-3">
            <img class="img-responsive" src="<%= asset_path 'tas.png' %>" alt="">
          </div>
          <div class=" col-md-3 col-xs-3">
            <img class="img-responsive" src="<%= asset_path 'syd.png' %>" alt="">
          </div>
          <div class=" col-md-3 col-xs-3">
            <img class="img-responsive" src="<%= asset_path 'perth1.png' %>" alt="">
          </div>
          <div class=" col-md-3 col-xs-3">
            <img class="img-responsive" src="<%= asset_path 'coffs.png' %>" alt="">
          </div>
        </div>
        <!-- <div class="row">
          <div class="mt-30">
            <h2><a id="watch-now">Watch Now</a></h2>
          </div>
        </div> -->
        <div class="row mt-50">
          <div class="col-md-12">

              <h3>One woman's life, with and without men, but always with dogs.</h3>



          </div>

          <div class="mt-0 nav-scrollspy-onepage hidden-xs">
            <h4 class="scroll animated infinite pulse"><a href="#about" data-turbolinks="false" class="white-color" id="down-arrow"><i class="fa fa-angle-down fa-5x"></i></a></h4>
          </div>
        </div>
      </div>
    </div>
    </div>

  <div class="homepage-hero-module">
    <div class="video-container">
      <div class="filter"></div>
    </div>
  </div>
</section>
<!--=== Video End ======-->

<!--=== Who We Are Start ===-->
<section class="first-ico-box" id="about">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <div class="col-sm-10 section-heading">
          <h2 class="text-uppercase">About the film</h2>
          <div class="mt-30">
            <p class="lead">
              Acclaimed and award winning film maker Gillian Leahy turns her mind to the relationship between herself and her dog in this searching, funny, touching and thought provoking documentary.
            </p>
            <p class="lead">
              Gill questions her own relationship with her big brown chocolate Labrador, Baxter, and our relationships in general between dogs and humans. It all begins when Gill wakes up one morning and asks herself, “What am I doing living with this big brown beast?” And it takes off from there.
            </p>
              <a href="/about" class="btn btn-info btn-circle">
                Find out more
              </a>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-xs-12" style="margin-top: 80px;">
          <div class="arcon-video-box"> <img class="img-responsive" src="<%= asset_path 'BaxterOverlay.jpg' %>" alt="">
            <div class="arcon-video-box_overlay">
              <div class="center-layout">
                <div class="v-align-middle"> <a class="popup-vimeo" href="https://vimeo.com/219438401">
                  <div class="play-button"><i class="mdi mdi-play"></i> </div>
                  </a>
                </div>
              </div>
            </div>
          </div>
          <img style="height: 70px;"src="<%= asset_path "pg.png" %>" alt="">
        </div>
      </div>
    </div>

      <div class="col-sm-10 section-heading">
        <div class="row mt-50" id="watch">
          <h2 class="text-uppercase">Watch the film</h2>
          <div class="col-md-4 pricing-table col-sm-6 wow fadeTop" data-wow-delay="0.1s">
            <div class="pricing-box">
              <h4>
                <i class="mdi mdi-presentation fa-3x"></i>
              </h4>
              <h4>
                Find a screening near you
              </h4>

              <div class="pricing-box-bottom"> <a href="https://au.demand.film/baxter-and-me/" class="btn btn-info btn-circle btn-animate" target="_blank"><span>Demand Films <i class="mdi mdi-arrow-right"></i></span></a> </div>
            </div>
          </div>
          <div class="col-md-4 pricing-table col-sm-6 wow fadeTop" data-wow-delay="0.2s">
            <div class="pricing-box">
              <h4>
                <i class="mdi mdi-vimeo fa-3x"></i>
              </h4>
              <h4>
                Download or rent on Vimeo
              </h4>
              <div class="pricing-box-bottom">
                <a href="https://vimeo.com/ondemand/baxterandme" class="btn btn-info btn-circle btn-animate"><span>Vimeo <i class="mdi mdi-arrow-right"></i></span></a> </div>
            </div>
          </div>
          <div class="col-md-4 pricing-table col-sm-6 wow fadeTop" data-wow-delay="0.4s">
            <div class="pricing-box">
              <h4>
                <i class="fa fa-play fa-3x"></i>
              </h4>
              <h4>
                Buy a DVD
              </h4>
              <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
              <input type="hidden" name="cmd" value="_s-xclick">
              <input type="hidden" name="hosted_button_id" value="C2D5WT42ZVCXN">
              <table>
              <tr><td><input type="hidden" name="on0" value="Baxter and Me DVD"></td></tr><tr><td><select style="margin-left: 57px;" name="os0">
              	<option value="BluRay">BluRay $34.00 USD</option>
              	<option value="NTSC">NTSC $34.00 USD</option>
              	<option value="PAL">PAL $34.00 USD</option>
              </select> </td></tr>
              </table>
              <input type="hidden" name="currency_code" value="USD">
              <input type="image" style="width: 210px; padding-top:10px;"type="image" src="<%= asset_path "blue-paypal-btn.png" %>" border="0" name="submit" alt="PayPal – The safer, easier way to pay online!">
              <img alt="" border="0" src="https://www.paypalobjects.com/en_AU/i/scr/pixel.gif" width="1" height="1">
              </form>



            </div>
          </div>
        </div>
          <h3 class="text-centre">Educational & Institutional sales please go to <br><a href="https://www.roninfilms.com.au/" class="blue-link" target="_blank">www.roninfilms.com.au</a></h3>
      </div>
    </div>
  </div>
</section>


<!--=== Parallax Section Start ======-->
<section class="parallax-bg-4 fixed-bg" data-stellar-background-ratio="0.2">
  <div class="overlay-bg-not-so-dark"></div>
  <div class="container">
    <div class="row">
      <div class="col-md-6 text-center white-color col-md-offset-3">

        <%= image_tag 'baxterandme.png' %>
      </div>
    </div>
  </div>
</section>
<!--=== Parallax Section End ======-->
<!--=== Blogs Start ======-->
<section>
  <div class="container">
    <div class="row">
      <div class="col-sm-8 section-heading">
        <h2 class="text-uppercase">In the news</h2>
        <hr class="blue-bg">
        <!-- <h4 class="text-uppercase source-font wow fadeTop" data-wow-delay="0.2s">- Latest News -</h4> -->
      </div>
    </div>
    <div class="row mt-50">
      <div class="col-md-12 remove-padding">
        <div class="owl-carousel blog-slider">
          <div class="post">
            <div class="post-img"> <img class="img-responsive" src="<%= asset_path 'ABC.jpg' %>" alt=""/></div>
            <div class="post-info">
              <h3>
                <a href="https://www.facebook.com/breakfastnews/videos/10154890120688983/" target="_blank"><i class="mdi mdi-video"></i>  ABC News Breakfast</a>
              </h3>
              <h6>June 20, 2017</h6>
              <p>
                Filmmaker Gillian Leahy discusses her new "dogumentary" Baxter and Me.
              </p>
              <a class="readmore" href="https://www.facebook.com/breakfastnews/videos/10154890120688983/" target="_blank"><span><i class="mdi mdi-video"></i> Watch</span></a>
            </div>
          </div>
          <!--=== Post End ===-->
          <div class="post">
            <div class="post-img"> <img class="img-responsive" src="<%= asset_path 'LifeStyle.jpg' %>" alt=""/> </div>
            <div class="post-info">
              <h3><a href="https://omny.fm/shows/australia-overnight-with-david-prior/2-06-am-baxter-and-me-with-gillian-leahy" target="_blank"><i class="mdi mdi-volume-high"></i> Lifestyle Overnight with David Prior</a></h3>
              <h6>May 9, 2015</h6>
              <p>Do our dogs really love us? Are they our slaves or are we theirs?</p>

              <a class="readmore" href="https://omny.fm/shows/australia-overnight-with-david-prior/2-06-am-baxter-and-me-with-gillian-leahy" target="_blank"><span><i class="mdi mdi-volume-high"></i> Listen</span></a> </div>
          </div>
          <!--=== Post End ===-->
        </div>
      </div>
    </div>
  </div>
</section>
<!--=== Blogs End ======-->




<!--=== Contact Us Start ======-->
<!-- <section class="contact-us pt-0" id="contact">
  <div class="container">
    <div class="row mt-50">
      <div class="row">
        <div class="col-md-8 section-heading">
          <h2 class="text-uppercase">Get in touch. We're friendly.</h2>
        </div>
      </div>
      <div class="col-md-8 col-md-offset-2">
        <%# render 'enquiries/form' %>
      </div>
    </div>
  </div>
</section> -->
<!--=== Contact Us End ======-->
