<footer class="footer">
  <div class="container">
    <div class="justify-content-between">
      <span class="text-muted">&copy; My App </span>
      &nbsp; | &nbsp;
      <span><%= link_to 'Privacy Policy', privacy_path %></span>
      &nbsp; | &nbsp;
      <span><%= link_to 'About', about_path %></span>
      &nbsp; | &nbsp;
      <span><%= link_to 'Contact', contact_path %></span>
      &nbsp; | &nbsp;
      <span><%= link_to '<i class="fa fa-twitter fa-fw"></i>'.html_safe, 'https://twitter.com/' %></span>
      &nbsp; | &nbsp;
      <span><%= link_to '<i class="fa fa-facebook fa-fw"></i>'.html_safe, 'https://facebook.com/' %></span>
      &nbsp; | &nbsp;
      <span><%= link_to '<i class="fa fa-github fa-fw"></i>'.html_safe, 'https://github.com/pedrogrande' %></span>
    </div>
  </div>
</footer>
